h1 h4 p {
  font-family: 'Libre Baskerville', serif;
}

.top-margin {
  top: 20px;
}


.flex-edit {
  align-items: center;
  img { width: 300px;}
}

.card-boat{
  background: white;
  padding: 15px;
  border-radius: 33px;
  width: 449px;
  margin: 0 auto;
}
