<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(barca2.jpeg);">
  <div class="container">
    <h1>Take a boat and rock 'n roll!</h1>
    <p>The best solution for your yacht charter.</p>
    <a class="btn btn-flat" href="#">Search</a>
  </div>
</div>

<!-- Card -->
<% @boats.each do |boat|%>
  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1560216874-c209251cba8e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80"/>
    <div class="card-trip-infos">
      <div>
        <h2> <%= boat.name %></h2>
        <p> <%= boat.details %></p>
      </div>
      <h2 class="card-trip-pricing"> $ <%= boat.price %></h2>
    </div>
    <%= link_to "", boat_path(boat), class: "card-link" %>
  </div>
<% end %>

<!--<%# if user_signed_in? %>
  <%# @bookings.each do |booking|%>
    <%# if booking.user == current_user %>
      <%#= booking.start_date %>
      <%#= booking.end_date %>
    <%# end %>
  <%# end %>
<%# end %>

<%#= link_to "Add a new boat", new_boat_path %>
<%#= link_to "SignUp or Login", new_boat_path %>
<%# end %>-->




