.navbar-lewagon {
  justify-content: flex-end;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-hover{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.navbar-left{
  list-style: none;

  a {

    color: inherit;
  }
}
